<div id="show">

<%= form_for(@mom) do |f| %>

  <% if @mom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mom.errors.count, "error") %> prohibited this mom from being saved:</h2>

      <ul>
      <% @mom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
   </div>
   <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :children %><br />
    <%= f.text_field :children %>
  </div>
  <div class="field">
    <%= f.label :education %><br />
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br />
    <%= f.text_field :neighborhood %>
  </div>
  <div class="field">
    <%= f.label :Favorite_TV_Show%><br />
    <%= f.text_field :tvshow %>
  </div>
  <div class="field">
    <%= f.label :hobbies %><br />
    <%= f.text_field :hobby %>
  </div>
  <div class="field">
    <%= f.label :pets %><br />
    <%= f.text_field :pets %>
  </div>
  <div class="field">
    <%= f.label :work %><br />
    <%= f.text_field :work %>
  </div>
  
  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div>
    
      <%= f.label :remote_image_url, "or image URL" %><br />
      <%= f.text_field :remote_image_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
