<h1>Listing recipes</h1>

<table>
  <!-- <tr>
    <th>Name</th>
    <th>From</th>
    <th>Description</th>
    <th>Catagory</th>
    <th>Mom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->

<% @recipes.each do |recipe| %>
  <tr>
    <p> <strong>Name:</strong>  <%= recipe.name %></p>
    <p> <strong>Recipe By:</strong>  <%= recipe.from %></p>
    <p> <strong>Directions: </strong>  <%= recipe.description %></p>
    <p> <strong>Catagory: </strong> <%= recipe.catagory %></p>
    <p> <strong>From Mom: </strong> <%= recipe.mom.name %></p>
  <% if session[:mom_id].present? &&   admin? %>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if session[:mom_id].present? %>
<%= link_to 'New Recipe', new_recipe_path %>
<% end %>